
.general-container {
        display: grid;    
        grid-template-rows:
        1fr  
        1fr
        1fr 
        1fr 
        1fr 
        1fr
        1fr;
        grid-template-columns: auto;
        grid-template-areas:
        "nav"
        "main" 
        "main2"
        "main3" 
        "main4"
        "main5"
        "footer";
        height: 100vh;
        margin: 0;
}
.nav-container{
    grid-area: nav;
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin: -5px;
}

.logo {
    color: white;
    text-align: center;

}
.list-container {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 10px;
    
}
.list-buttons {
    text-align: center;
    
}

.buynowbutton {
    background-color: green;
    color: white;
}
a {
    color: white;
    justify-content: center;
    text-decoration: none;
}

.menubar1, .menubar2, .menubar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}

main {
    grid-area: main;
    /* color: white; 
    display: grid;
    background-image: url(./shrimpdish2.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    padding: 0;
    // This is what you had before, you were missing height and width. also background-position //  
    */
    background-color: black;
    background-image: url(./shrimpdish2.jpg);
    background-repeat: no-repeat;
    height:80vh;
    width: 100%;
    background-size: 125%;
    background-position: center center;
    margin: 0;
}
.main-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    top: 200px;
    left: 100px;

}
.header-container {
    margin-right: 500px;
}
.making-food-header {
   
    color: white;
    font-size: 250%;
    align-self: start;
}

.making-food-text-container {
    margin-right: 500px;
    font-size: 80%;
}

.making-food-text {
    
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start
    
}
.more-details-button {
    background-color: green;
    color: white;
    padding: 5px 20px;
}


.main2 {
    grid-area: main2;
}

.aboutus-container {
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;

}
.aboutus-header {
    color: green;
    
   
}
.aboutus-text {
    margin-right: 150px;

}
.more-details-button2 {
    background-color: green;
    
    
}
.left-column-container {
    margin-left: 100px;
}

.shrimpdish {
    margin-right: 200px;
}


.main3 {
    grid-area: main3;
    display: flex
}
.main4 {
    grid-area: main4;
    display: flex;
}
.main5 {
    grid-area: main5;
    display: flex;
}
footer {
    grid-area: footer;
    display: flex;
}
